<div class="col-md-12 col-xs-12">
 <div class="col-md-12 col-xs-12">
 <mt-produto
    *ngFor="let produto of (produtoCampanha)"
    [produto]="produto" (add)="shoppingCart.addProduto($event)" >
  </mt-produto>
  </div>
  <div class="paginacao" *ngIf="page?.next !== null">
    <div class="page-buttons">
      <button (click)="next()" calss="btn pag">
        Mais Itens
      </button>
    </div>
  </div>

  <div class="col-md-12 col-xs-12">
    <mt-shopping-cart #shoppingCart></mt-shopping-cart>
  </div>

</div>




<!-- | async)" -->
