<div class="col-md-12 col-xs-12">
 <div class="col-md-12 col-xs-12">
 <mt-produto
    *ngFor="let produto of (produtoCampanha)"
    [produto]="produto" (add)="shoppingCart.addProduto($event)" >
  </mt-produto>
  </div>
  <div class="paginaco" *ngIf="page?.count > 1">
    <div class="page-buttons">
      <button class="btn prev" (click)="fetchPrevious()">
        Próxima Página
      </button>
      <button *ngFor="let number of numbers; index as i" calss="btn pag">
        {{i + 1}}
      </button>
      <button class="btn next" (click)="fetchNext()">
        Página Anterior
      </button>
    </div>
  </div>

  <div class="col-md-12 col-xs-12">
    <mt-shopping-cart #shoppingCart></mt-shopping-cart>
  </div>

</div>




<!-- | async)" -->
